# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Understand what is Data Science.
- Understand tools used in Data Science.
- Understand Data Science languages such as Python, R, SQL.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
2. Tensorflow

|Data Science Tools|
|------------------|
|R Studio|
|Apache Spark|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
print(x)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
x=200/60
print(x)

3.3333333333333335

## Author
Tejas